@font-face {
    font-family: Verdana;
    src: url(Verdana.ttf);
}

body {
    background-image: url('/imagenes/fondo.jpg');
    background-size: cover;
    font-family: Verdana;
    
}

button{
    background-color: aquamarine;
}

#enviar{
    background-color: blueviolet;
}