body {
    background-image: url('fondo.jpg');
    background-size: cover;
    
}

div {
    background-color: rgba(240, 248, 255, 0.474);
    margin-left: 20%;
    margin-right: 20%;
    padding: 12px;
    font-size: large;
}

h2 {
    text-align: center;
    background-color: rgb(64, 142, 243);
    margin-left: 20%;
    margin-right: 20%;
}


h3 {
    text-align: center;
    background-color: rgba(135, 187, 255, 0.83);
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
}