/*hoja de estilo del chat*/

body {
    /*background-color: aqua;*/
    background-image: url('fondo.png');
    background-size: cover;
}

.writing{
    
    background-color: #d3fbc6;
    padding: 10px 20px;
    /*border: 5px solid #fb5000;*/
    border-radius: 3px;

}

#msg { /* display donde escribimos el mensaje*/
    width: 650px;
    border: none;
    padding: 10px 20px;
    
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

#enviar {
    width: 100px;
    height: 45px;
    border-radius: 5px;
}

#display{ /* donde aparecen los mensajes*/
    background-color: #a4a8f4ce;
    padding: 10px 20px;
    border-radius: 5px;
}